/* body part */
/* *{
    margin: 0;
} */
/* container-one */
.container-one {
    display: flex;
    background-color: #e554733a;
    font-size: 30px;
    font-weight: 700;
    padding: 0px 30px;
    height: 500px;
    width: 1548px;


}

.paragraph {
    font-size: 18px;
    font-weight: 200;

}

.btn {
    background-color: #E55473;
    border-radius: 8px;
    color: white;
    padding: 20px 43px 20px 43px;
    border: none;

}

.con-part-one {
    height: 506px;
    width: 800px;
   
}
.cone-img{
    height: 504px;
    width: 635px;
    text-align: right;
    

}


.cone-img img {
    height: 500px;   
}

/* container one end */

/* container two start */
.container-two {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.cart-image {
    display: flex;
    gap: 30px;
}


.cart-image img {
    height: 428px;
    width: 310px;
}

.cart-one {
    background-color: rgba(167, 33, 98, 0.15);
    padding: 90px 30px 0px 30px;
    border-radius: 100px 100px 0px 0px;
    text-align: center;
}

.cart-two {
    background-color: rgba(5, 151, 160, 0.15);
    padding: 90px 30px 0px 30px;
    border-radius: 100px 100px 0px 0px;
}

.cart-three {
    background-color: rgba(71, 125, 17, 0.15);
    padding: 90px 30px 0px 30px;
    border-radius: 100px 100px 0px 0px;
}

.flr-text {
    display: flex;
    gap: 300px;
    text-decoration: underline;
}

/* container two end */

/* container three start */

.container-three {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 86px 175px;
    /* padding: 90px 30px 0px 30px; */
    background-color: rgba(39, 39, 39, 0.05);
    /* align-items: center; */
    /* border-radius: 5px; */

    text-align: center;
    margin: 0px 0px;



}

/* container three end */

/* container four start */

.container-four {
    display: flex;
    background-color: rgba(229, 84, 115, 0.05);
    /* border-radius: 8px; */
    margin-top: 70px;
    justify-content: space-around;

}

.section-one {
    text-align: center;
    /* margin-bottom: 230px; */
    /* margin-right: 20px; */
    /* justify-content: space-between; */
    width: 318px;
    height: 420px;
    margin-left: 350px;
    margin-right: 100px;
    margin-top: 230px;
    margin-bottom: 160px;


}

.section-two {
    width: 318px;
    height: 420px;
    margin: 100px;
    margin-bottom: 100px;
}

/* container four end */

/* container five start */
.container-five {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.flowers-styls {
    display: flex;
    padding: 90px 30px 0px 30px;
    border-radius: 100px 100px 0px 0px;
    gap: 15px;


}

.flowers-styls img {
    border: 5px dashed silver;
}

/* container five end */

/* container six start */
.container-six {
    margin-top: 50px;
    text-align: center;
    /* border-top: 120px; */
    background-image: url("/Flower_Asset/Rectangle\ 9.png");
    height: 449px;
    width: 1440px;
    border: 5px dashed silver;


}

.fnt-styl {
    padding: 100px;
}


.btn-styls {
    padding: 20px 43px 20px 43px;
    border: none;


}


/* container six end */

/* container seven start */

.container-seven {
    text-align: center;
    background-color: black;
    margin-top: 30px;
    height: 449px;
    width: 1440px;
    padding: 130px;

}

.fnt-clr {
    color: rgb(229, 84, 115);
}

.text-clr {
    color: white;
}

/* container seven end */